*.swp
*.pyc
*.class
.DS_Store
pip-log.txt
backups
*/local_settings.py
media
media/*
.project
.pydevproject
.settings
django.log
databases
.coverage
.vagrant/
.venv/
__pycache__/
docs/_build/*
data/*
db.sqlite3
