[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pip-review = "*"
django-stubs = "*"
mypy = "*"

[packages]
Django = ">=3.0.4"
psycopg2 = "==2.8.4"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
pygments = "*"

PyGithub = "*"
pydiscourse = "*"
