[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pip-review = "*"
django-stubs = "*"
mypy = "*"

[packages]
Django = "~=3.2"
psycopg2 = "~=2.9"

# API
djangorestframework = "*"
django-filter = "*"
markdown = "*"
pygments = "*"

# External hooks
PyGithub = "*"
pydiscourse = "*"

# Documentation
sphinx = "*"
recommonmark = "*"
