{% extends "codb/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row center">
      <h4 class="center">Switches</h4>
      {% for closet in closets %}
        <h5>{{ closet }}</h5>
        <ul>
        {% for stack in closet.switchstack_set.all %}
          {% for switch in stack.switch_set.all %}
            <li>
              <a href="{% url 'switch' stack.name switch.unit %}">{{ switch }}</a>
            </li>
          {% endfor %}
        {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
