{% load static %}

<!DOCTYPE HTML>
<html lang="en">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>CO &middot; RE &middot; DB | Coworking Relationship Database</title>

    <!-- Icons -->
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon-iphone-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-touch-icon-ipad-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-iphone-retina-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-ipad-retina-152x152.png' %}">

    <!--Import Google Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/coredb.css' %}"  media="screen,projection"/>

    <style>
      {% block style %}{% endblock %}
    </style>
  </head>

  <body>
    <header>
      <nav class="indigo"  role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo">
            <i class="large material-icons">people</i>
            <i class="large material-icons">compare_arrows</i>
            <i class="large material-icons">business</i>
            Coworking Relationship Database
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="">People</a></li>
            <li><a href="">Spaces</a></li>
            <li><a href="">Vendors</a></li>
            <li><a href="">Consultants</a></li>
            <li>
              <a href="{% url 'search' %}"><i class="material-icons">search</i></a>
            </li>
            {% if request.user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="page-footer indigo darken-4">
      <div class="container">
        Writen by <a class="blue-gray" href="https://jacobsayles.com">Jacob Sayles</a> |
        Source for this application can be found on <a class="blue-gray" href="https://github.com/jsayles/CoworkingDB/">GitHub</a> |
        Template by <a class="blue-gray" href="http://materializecss.com">Materialize</a>
      </div>
    </footer>

    <!--  Scripts-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    {% block extrajs %}{% endblock %}

  </body>
</html>
