{% extends "coredb/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row center">
      <h4 class="center">VLANs</h4>
      <table class="highlight centered">
      <thead>
        <tr>
          <th>Tag</th>
          <th>Name</th>
          <th>Description</th>
          <th>IP Range</th>
          <th>Ports</th>
        </tr>
      </thead>
      <tbody>
      {% for vlan in vlans %}
        <tr>
          <td>
            <a href="{% url 'vlan' vlan.tag %}">
              {{ vlan.tag }}
            </a>
          </td>
          <td>{{ vlan.name }}</td>
          <td>{{ vlan.description }}</td>
          <td>{{ vlan.ip_range }}</td>
          <td>{{ vlan.port_set.all | length }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
