{% extends "crdb/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row">
      <h4 class="center">Locations</h4>
      {% for level, list in locations %}
        <div class="col s12 m4">
          <h5>Level {{ level }}</h5>
          <ul>
          {% for l in list %}
            <li>
              <a href="{% url 'location' l.number %}">{{ l.number }}</a>: {{ l.name }}
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
