{% extends "crdb/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="section">
    <div class="row center">
      <h4 class="center">People</h4>
      <table class="highlight centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Projects</th>
        </tr>
      </thead>
      <tbody>
      {% for person in people %}
        <tr>
          <td>
            {% if request.user.is_staff %}
              <a href="{% url 'person_view' person.username %}">{{ person.get_full_name }}</a>
            {% else %}
              {{ person.get_full_name }}
            {% endif %}
          </td>
          <td>{{ person.projects | length }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
</div>
{% endblock %}
