{% load i18n %}{% autoescape off %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "potentialAction": {
    "@type": "ConfirmAction",
    "name": "Verify Email",
    "handler": {
      "@type": "HttpActionHandler",
      "url": "{{ verify_link }}"
    }
  },
  "description": "Verify your email address."
}
</script>


{% if user.first_name %}
<p>Hello {{ user.first_name }},</p>
{% endif %}

<p>{% trans "Please verify your e-mail address." %}</p>

<p>
  {% trans "A new e-mail address has been associated with your account at" %}
  the Coworking Relationship Database.
  {% trans "Please use the link below to verify your new address." %}
</p>

<h3>Verification Key: <a href="{{ verify_link }}">{{ verif_key }}</a></h3>
<h3>Verification Link: <a href="{{ verify_link }}">{{ verif_link }}</a></h3>

<p>
Thanks!<br>
The CRDB Team
</p>
{% endautoescape %}
