body { text-align: center; font-family: "Bitstream Vera Sans", "DejaVu Sans", sans; letter-spacing: -0.1em; background: mintcream;}

.content { width: 750px; margin: 0 auto; text-align: left; }

fieldset { margin: 20px 0; border: solid 1px seagreen; background: mediumseagreen; }

#map { margin: 10px 0; padding: 50px 0; width: 100%; text-align: center; background-color: midnightblue;}
#map img { border: none; margin: 0; padding: 0;}

ul#navigation { margin: 10px 0; height: 40px; padding: 0;}
ul#navigation li { height: 28px; padding: 8px; border-style: solid; border-color: antiquewhite; background: linen; border-width: 1px; display: inline;}
ul#navigation li a { text-decoration: none; color: #393939; }
ul#navigation li.on { background-color: #333; border: solid 1px black;}
ul#navigation li.on a { color: white; }


.add_button { height: 32px; line-height: 32px; padding: 5px 20px; margin: 0;}
.add_button a { text-decoration: none; color: darkgreen;}
.add_button:before { content: url('/images/icons/add.png'); padding-right: 10px; }

.spaces_list, .places_list { vertical-align: top; }
.spaces_list { float: left; width: 496px; }
.places_list { float: right; width: 246px; }

ul.places, ul.spaces { margin-left: 0; padding-left: 0; }
ul.places ul, ul.spaces ul { margin-left: 8px; padding-left: 0;}

ul.places li { list-style: none inside url('/images/icons/tag_blue.png'); border-bottom: solid 1px #ccc; }
ul.spaces li { list-style: disc inside url('/images/icons/star.png'); }

ul.places li, ul.spaces li { height: 40px; line-height: 40px; }

ul.places li a, ul.spaces li a { text-decoration: none; }

ul.lineage { margin: 0; padding: 0; }
ul.lineage li { display: inline-block; padding-right: 10px;}
ul.lineage li:before { content: url('/images/icons/tag_blue.png'); padding-right: 3px; }