=javascript_include_tag 'test'

#searcher
  #map
  %p
    Type in an address, hit 'geocode', see what happens
  %input#searchField(type="textbox" value="1410 E Pine St, 98122")
  %input(type="submit" value="Geocode" onclick="searcher.update()")
  #searchStatus

  %br

  #searchResults
    %input#lat{:type => 'textbox'}
    %input#long{:type => 'textbox'}
    %input#address{:type => 'textbox'}
