<table class="highlight centered">
  <thead>
    <tr>
      <th><a class="black-text" href="?order_by=p{% if order_by == 'p' %}-{% endif %}">Port</a></th>
      <th><a class="black-text" href="?order_by=l{% if order_by == 'l' %}-{% endif %}">Location</a></th>
      <th><a class="black-text" href="?order_by=s{% if order_by == 's' %}-{% endif %}">Switch</a></th>
      <th><a class="black-text" href="?order_by=v{% if order_by == 'v' %}-{% endif %}">VLAN</a></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for port in ports %}
      <tr>
        <td>
          <a href="{% url 'port' port.id %}">
            {{ port.label }}
          </a>
        </td>
        <td>
          <a href="{% url 'location' port.location.number %}">
            {{ port.location }}
          </a>
        </td>
        <td>
          {% if port.switch %}
            <span title="Module: {{ port.module_id }}">
              <a href="{{ port.switch.get_absolute_url }}">
                {{ port.closet.number }}
                {{ port.switch }}
                #{{ port.switch_port }}
              </a>
            </span>
          {% endif %}
        <td>
          <a href="{% url 'vlan' port.vlan.tag %}">
            {{ port.vlan }}
          </a>
        </td>
        <td>
          <a href="{{ port.get_admin_url }}">
            <i class="material-icons">edit</i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
